html {
  height: 100%;
}

body {
  /* background-color: #f8820e;
background-image: linear-gradient(180deg, #f8820e 0%, #fbb027 30%, #22701e 66%, #313131 100%); */
/* background-color: #f8820e;
background-image: linear-gradient(192deg, #f8820e 0%, #fbb027 24%, #22701e 57%, #2c3539 83%); */
background-color: #f8820e;
background-image: linear-gradient(192deg, #f8820e 0%, #fbb027 24%, #22701e 57%, #2c3539 83%);

  color: #111111;
  font-family: 'Roboto', sans-serif;
  font-size: 1.125rem;
 
}
.container {
  width: 1024px;
  min-height: 300px;
  margin-left: auto;
  margin-right: auto;
 margin-top: 5px;
  padding: 10px;

}

header {
  display: flex;
  flex-flow: 1 1 auto;
  padding:  0;
  justify-content: space-between;
  align-items: center;

}

main {
  min-height: 300px;
  display: flex;
  align-items: center;
  margin: 10px 30px 20px 30px
}
p {
  line-height: 1.75rem;
  margin-bottom: 0.5rem;
  margin-left: 0.5rem;

}



.cards {
  display: flex;
  justify-content: space-between;
  height: 14rem;
  margin: 10px 30px 20px 30px;
  /* filter: brightness(50%); */
  color: #fbb027;
  font-weight: 500;
  text-align: center;

}
.cards h2 {
/* background-color: #c2670d50; */
margin: auto;
padding: 5px 10px;
}
.card1 {
  background-image: url(img/boss.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: right;
  width: 30%;
  
}

.card2 {
  background-image: url(img/miah_crafting.png);
  background-size: cover;
  background-repeat: no-repeat;
  /* background-position: bottom; */
  width: 30%;
}

.card3 {
  background-image: url(img/miah_fashion2.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: right;
  width: 30%;
}

.cards2 {
  display: flex;
  justify-content: space-evenly;
  height: 14rem;
  margin: 10px 30px 20px 30px;
  color: white;
  font-weight: 500;
  text-align: center;
}
.card4 {
  
  background-image: url(img/healing.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: right;
  width: 30%;
  margin-top: 20px;
}

.card5 {
  
  background-image: url(img/fc-house.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: right;
  width: 30%;
  margin-top: 20px;
}

.herobox1 {
flex: 2;
color: #2C3539;
}

.herobox2 {
flex: 1;
margin-left: 10px;


 }


h1 {
  font-family: 'Playfair Display', serif;
  font-size: 3.25rem;
  margin-bottom: 1rem;
}

.resize {
  height: 251px;
  width: 340px;
  object-fit: contain;
  object-position: bottom;
  /* filter: brightness(180%), contrast(120%); */
}

h2 {
  font-family: 'Playfair Display', serif;
  margin-top: 20px;
  padding: 0px;
  font-size: 2rem;
  
}
p[class*="gray"] {
  font-size: 1.1rem;
  line-height: 1.2rem;
  margin: 0px .9rem 0px 1.4rem;

}

nav a {
  color: white;
  padding: 0 .125rem
}

.cards i {
  font-size: 50px;
  padding: 10px 0;
  color: #fbb027;
}
.cards2 i {
  font-size: 50px;
  padding: 10px 0;
  color: #fbb027;
}
.container a {
  color:white;
  text-decoration: none;
}

.cards div {border-radius: 5px;}
.cards2 div {border-radius: 5px;}

#vines {
  z-index: -1;
  position: fixed;
  top: 0;
  right: 0;
  filter: opacity(50%);
  }