html{
  background-image: linear-gradient(192deg, #f8820e 0%, #fbb027 24%, #22701e 57%, #2c3539 83%);
}

body {

  color: #111111;
  font-family: 'Alata', sans-serif;
  /* font-family: 'Roboto', sans-serif; */
  font-size: 1.125rem;

 
}
.container {
  width: 1024px;
  min-height: 300px;
  margin-left: auto;
  margin-right: auto;
 margin-top: 5px;
  padding: 10px;

}

header {
  display: flex;
  flex-flow: 1 1 auto;
  padding-bottom: 10px;
  justify-content: space-between;
  align-items: center;
}


main {
  min-height: 300px;
  display: flex;
  align-items: center;
  margin: 10px 30px 20px 30px
}

.main2 {
  min-height: 300px;
  padding-top: 50px;
}

p {
  line-height: 1.75rem;
  margin-bottom: 0.5rem;
  margin-left: 0.5rem;

}


.cards {
  display: flex;
  justify-content: space-between;
  height: 14rem;
  margin: 10px 30px 20px 30px;
  font-weight: 500;
  text-align: center;

}
.cards h2 {
/* background-color: #c2670d50; */
margin: auto;
padding: 5px 10px;
}
.cards div {
  box-shadow: #2C3539 10px 10px 10px;
  text-shadow: 1px 1px 2px #2C3539, 0 0 1em #2C3539, 0 0 0.2em #2C3539;
  color:white;
}
.cards a{
  color: white;
}
.cards2 div {
  box-shadow: #2C3539 10px 10px 10px;
  text-shadow: 1px 1px 2px #2C3539, 0 0 1em #2C3539, 0 0 0.2em #2C3539;
}
.cards2 a{
  color: white;
}
.card1 {
  background-image: url(img/boss.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: right;
  width: 30%;
  
}

.card2 {
  background-image: url(img/miah_crafting.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  /* background-position: bottom; */
  width: 30%;
}

.card3 {
  background-image: url(img/miah_fashion2.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: right;
  width: 30%;
}

.cards2 {
  display: flex;
  justify-content: space-evenly;
  height: 14rem;
  margin: 10px 30px 20px 30px;
  color: white;
  font-weight: 500;
  text-align: center;
}
.card4 {
  
  background-image: url(img/healing.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: right;
  width: 30%;
  margin-top: 20px;
}

.card5 {
  
  background-image: url(img/fc-house.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: right;
  width: 30%;
  margin-top: 20px;
}

.herobox1 {
flex: 2;
color: #2C3539;
}

.button {
  color:#2C3539;
  font-family: 'Alata', sans-serif;
  background-color: rgba(255, 255, 255, 0.801);
  padding: 11px 25px;
  border-radius: 4px 10px;
  box-shadow: #313131 3px 3px 3px;
  font-family: 'Playfair Display', serif;
  display: inline-block;
  margin-top: 10px;
  font-weight: bold;
  text-decoration: none;
  margin-right: 15px;
}
.button:hover {
  background-color: rgb(255, 255, 255);
  transition-delay: 1sec;
}

.navbutton {
  color: white;
  border: white solid 1px;
  background: none;
  padding: 11px 25px;
  display: inline-block;
  position: relative;
}

.herobox2 {
flex: 1;
margin-left: 10px;


 }



h1 {
  font-family: 'Cardo', serif;
  /* font-family: 'Playfair Display', serif; */
  font-size: 3.25rem;
  margin-bottom: 1rem;
  text-shadow:  #22701e62 2px 2px 0px ;
}

.resize {
  height: 251px;
  width: 340px;
  object-fit: contain;
  object-position: bottom;
  /* filter: brightness(180%), contrast(120%); */
}

h2 {
  font-family: 'Playfair Display', serif;
  margin-top: 20px;
  padding: 0px;
  font-size: 2rem;
  
}
p[class*="gray"] {
  font-size: 1.1rem;
  line-height: 1.2rem;
  margin: 0px .9rem 0px 1.4rem;

}

nav a {
  color: white;
  padding: 0 .125rem
}

.cards i {
  font-size: 50px;
  padding: 10px 0;
  color: #fbb027;
}
.cards2 i {
  font-size: 50px;
  padding: 10px 0;
  color: #fbb027;
}
.container a {
  text-decoration: none;
}

.cards div {
  border-radius: 5px;
}
.cards2 div {border-radius: 5px;}

#vines {
  z-index: -1;
  position: fixed;
  top: 0;
  right: 0;
  filter: opacity(50%);
  }

.emoji {
  height: 1.2rem;
}
footer {
  color:white;
  text-align: center;
  font-size: .9rem;
  font-family: 'Courier New', Courier, monospace;
  margin-top: 50px;
}

.pfooter {
  display: inline-block;
  line-height: normal;
  background-color: #313131b2;
  padding: 4px 10px;
}
footer a {
  text-decoration: solid underline #22701e 2px;
  color: white;

}

.dropdown {
  display: none;
  position: absolute;
  z-index: 1;
  padding-top: 15px;
}
.navbutton:hover .dropdown {
  display: block;
}
.dropdown .navbutton {
  width: 150px;
  background-color: white;
}
.dropdown .navbutton a{
color: #f8820e;
}

.inputwrapper {
  margin-bottom: 20px;
}

input[type=text], input[type=email], textarea {
  padding: 12px 20px;
  width: 40%;
  font-family: 'Alata', sans-serif;
}

